// applies to rendered HTML and editor contents
#content-container .toastui-editor-contents {
  h1 {
    border-bottom-style: solid;
  }

  .toastui-editor-md-preview-highlight::after {
    content: ">";
    color: #55575f;
    top: 0;
    left: -15px;
    background: none;
  }
}
